<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day0510_Dao_2/src/memberdao3/MemberServiceTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="memberdao3.MemberServiceTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day0510_Dao_2"/>
</launchConfiguration>
